<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appcastnet.mapBoxTest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MapBox Test</name>
    <description>
        Test loading of MapBox maps in Cordova.
    </description>
    <author email="xavier@a4support.com" href="http://www.appcastnet.com/">
        AppCastNet
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
    		<param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
	</feature>
</widget>
